<section class="page-shell auth-card">
  <div class="card">
    <div class="logo">LOGO ESPAÇO SEGURO</div>
    <h1>ENTRAR NA SUA CONTA</h1>

    <form class="form">
      <ui-input label="Email:" placeholder="Seu email"></ui-input>
      <ui-input label="Senha:" type="password" placeholder="Sua senha"></ui-input>

      <ui-button variant="primary" type="submit">Entrar</ui-button>

      <label class="anonimo">
        <input type="checkbox" />
        Entrar anonimamente
      </label>
    </form>

    <div class="footer">
      Não possui conta?
      <a routerLink="/cadastro">Criar conta</a>
    </div>
  </div>
</section>
