<section class="page-shell auth-card">
  <div class="card">
    <div class="logo">LOGO ESPAÇO SEGURO</div>
    <h1>ENTRAR NA SUA CONTA</h1>

    <div class="alert success" *ngIf="mensagem">
      {{ mensagem }}
    </div>
    <div class="alert error" *ngIf="erro">
      {{ erro }}
    </div>

    <form class="form" (ngSubmit)="onSubmit()" #ngForm="ngForm">
      <div class="ui-input">
        <label class="email">Email:</label>
        <input 
        type="email" 
        name="email"
        placeholder="Email"
        required
        [(ngModel)]="model.email"
        >

        <label for="senha">Senha:</label>
        <input type="password"
        name="senha"
        placeholder="Senha"
        required
        [(ngModel)]="model.senha"
        >
        
      </div>    
    
      <ui-button variant="primary" type="submit">Entrar</ui-button>

    </form>

    <div class="footer">
      Não possui conta?
      <a routerLink="/cadastro">Criar conta</a>
    </div>
  </div>
</section>
