<section class="page-shell auth-card">
  <div class="card">
    <div class="logo">LOGO ESPAÇO SEGURO</div>
    <h1>CRIAR CONTA</h1>

    <form class="form">
      <ui-input label="Nome:" placeholder="Seu nome completo"></ui-input>
      <ui-input label="Email:" placeholder="Seu email"></ui-input>
      <ui-input label="Senha:" type="password" placeholder="Crie uma senha"></ui-input>
      <ui-input label="Confirmar Senha:" type="password" placeholder="Repita a senha"></ui-input>

      <ui-button variant="primary" type="submit">Criar conta</ui-button>
    </form>

    <div class="footer">
      Já possui conta?
      <a routerLink="/login">Entrar</a>
    </div>
  </div>
</section>
